:root {
  --ifm-color-primary: #1565c0;
  --ifm-color-primary-dark: #145cae;
  --ifm-color-primary-darker: #1357a4;
  --ifm-color-primary-darkest: #104887;
  --ifm-color-primary-light: #166ed2;
  --ifm-color-primary-lighter: #1773dc;
  --ifm-color-primary-lightest: #1a82f9;
}
